/* Just The Header Of The Page */

body>header{
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    >h1>a{
        text-decoration: inherit;
        animation: colorChange infinite alternate linear 5s;
    }
    /* That question mark */
    #helper{
        font-size: xx-large;
        position: relative;
        top: -100px;
        left: 190px;
        text-decoration: inherit;
        animation: colorChange infinite alternate-reverse linear 1s;
    }
}

/* Animation Header */
@keyframes colorChange {
    0%{
        color: var(--color-letter-1);     /* Green */
    }
    25%{
        color: var(--color-letter-4);  /* Blue */
    }
    50%{
        color: var(--color-background-3); /* Red */
    }
}