body>main>aside{
    border: inherit;
    min-width: 40%;
    >header{
        border: inherit;
        text-align: center;
        padding: 10px;
    }
    >nav{
        border: inherit;
        padding: 20px;
        ul{
            position: relative;
            left: -40px;
            width: 100%;
            list-style-type: none;
            li{
                &:before{
                    content: "C:/";
                    color: var(--color-background-3);
                }
            }
        }
        >form{
            display: flex;
            justify-content: center;
            margin: 30px;
            *{
                text-align: center;
            }
        }
    }
    article{
        border: inherit;
        padding: 20px;
    }
    a{
        text-decoration: none;
    }
    #my-button{
        display: flex;
        justify-content: space-around;
    }
    #mail>*{
        padding-left: 5px;
        width: 30px;
    }
    #webrings{
        a{
            animation: colorChange infinite alternate-reverse linear 10s;
        }
    }

    #statuscafe {
        padding: 15px;
        background-color: lightgreen;
        color: black;
        border: 5px solid var(--color-letter-4);
        ::selection{
            color: lightgreen;
            background-color:  black;
        }
    }
    #imood-box>*{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

@keyframes colorChange {
    0%{
        color: var(--color-letter-1);    /* Green */
    }
    25%{
        color: var(--color-letter-4);    /* Blue */
    }
    50%{
        color: var(--color-background-3); /* Red */
    }
}