/*Image too big, trying to making it smol*/
.card.img-landscape, .card.img-vertical{
    width: 300px;
}
.card{
    margin: 10px;
}

body{
    /* display: initial !important; It should be important due to the Bootstrap Override */
    display: flex;
    overflow-x: hidden;

    >header{
        left: 0%;
        text-align: center;
        #helper{
            float: start;
            
            font-size: xx-large;
        }
    }

    >main{
        /* Section Rules Inside the 1st Main*/
        >section{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            border: 2px solid var(--color-letter-info);
            border-radius: 10px;
            >header{
                display: flex;
                align-items: center;
                color: var(--color-background-important);
                padding: 30px;
            }
            /* Article Rules Inside the 1st Section*/
            >article{
                margin-top: 20px;
                width: 97%;
                /* Wanna Change the Card Colors*/
                >div{
                    margin-left: 40px;
                    >figure{
                        .card-body{
                            background-color: var(--color-background-2);
                            color: var(--color-letter-secondary);
                        }
                        .card-footer{
                            background-color: var(--color-background-2);
                            color: var(--color-letter-primary);
                            border-top: 2px solid var(--color-background-secondary);
                            p{
                                color: var(--color-letter-important);
                            }
                        }
                    }
                }
            }
        }
        /* Aside Rules Nested */
        >aside{
            margin: 30px;
            >header{
                color: var(--color-background-important);
            }
            /* Aside Nav Rules Nested */
            >nav{
                display: inherit;
                flex-direction: inherit;
                align-items: center;
                
                /* Nav List Rules Nested */
                >ul{
                    list-style-type: none;
                    >li{
                        margin: 13px;                        
                        >a{
                            color: var(--color-letter-link-normal);
                        }
                    }
                }
                select{
                    text-align: center;
                    margin: 20px;
                }
            }
        }
    }
}

@media (max-width: 500px){
    body>header{
        #helper{
            position: relative;
            left: 35%;
            font-size: xx-large;
        }
    }
}
