/*Cool Selection*/
*::selection{
    background-color: lightgreen;
    color:  black;
}

/* Own Global Variables*/
:root{
            /* Colors Rules */

    /* Background Variables */
    --color-background: rgb(0, 0, 0);
    --color-background-important: rgb(255, 0, 0);
    --color-background-secondary: rgb(128, 128, 128);

    /* Letter Variables */
    --color-letter-important: rgb(255, 255, 255);
    --color-letter-primary: rgb(180, 105, 0);
    --color-letter-secondary: rgb(0, 128, 0);
    --color-letter-info: rgb(0, 0, 255);

    /* Letter Link Variables */
    --color-letter-link-normal: rgb(0, 255, 0);
    --color-letter-link-hovered: rgb(255, 255, 0);
    --color-letter-link-visited: rgb(255, 255, 255);


                    /* Size */

    --letter: 50px;
    /* "Mobile" Version (Aside [AKA The Navigator]) */
    --separator-1: 10px;
    --separator-2: 100px;

    /* Just For:*/
    --border: 5px solid rgb(0, 60, 0);

}

/* Backgound Style "Hacker" */
html{
    /* TIP: Put the Back & Color in the HTML Tag,
    if is in the body, when people zoom out could see the drastic
    change between colors = ugly :c */
    background-color: var(--color-background);
    color: var(--color-letter-secondary);

    >body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
