body{
/* Líneas Separación*/
    hr{
        color: darkred;
    }

/* Principal */
    main{
        margin: 30px 30px;
        details{
            > :not(summary){
                margin: 15px 30px;
            }
            /* Líneas Separación*/
            hr{
                color: lightblue;
            }
        }
    }
}