/* Specific CSS */
@font-face {
    font-family: "Persona-5";
    src: url("/fonts/persona-5-font/rhetoric-expose-font/Expose-Regular.otf");
}

html{
    background-color: black;
    overflow: hidden;
    color: white;
}
#clock{
    
    font-family: "Persona-5";
    font-size: xx-large;
    display: inline-flex;
    flex-direction: column;
    margin: -35px 50px;
    #date{
        display: inherit;
        gap: 5px;
    }
    #day{
        /* background-color: aquamarine; */
        transform: scale(2.25);
        text-indent: 10px;
    }
    #daypart{
        /* background-color: lightcoral; */
        position: relative;
        bottom: 100px;
        left: 20px;
        transform: scale(1.8) rotate(-15grad);
    }
    #dayweek{
        /* background-color: lightcoral; */
        position: relative;
        bottom: 60px;
        left: 60px;
        transform: scale(.9) rotate(-25grad);
    }
    #month{
        /* background-color: lightblue; */
        transform: scale(1.5);
    }
    #slash{
        transform: scale(1.8) rotate(30grad) translate(-3px,6px);
        text-indent: 10px;
    }
}