/* Specific CSS */
@font-face {
    font-family: "Persona Header";
    src: url("/fonts/persona-5-font/persona-5-menu-font-prototype/Persona5MenuFontPrototype-Regular.ttf");
}
@font-face {
    font-family: "Persona Text";
    src: url("/fonts/persona-5-font/p5hatty.ttf");
}

::selection{
    background-color: red;
    color: black;
}

html{
    background: url("/img/P5/p5r_background.png");
    font-family: "Persona Header";
    
    >body{
        background: inherit;
        color: red;

        >header{
            font-size: xx-large;
        }
        
        >main{

            >section{

                >header{
                    font-family: inherit;
                    font-size: x-large;
                }

                >article{
                    >header{
                        font-family: inherit;
                        font-size:large;
                    }
                    
                    >p{
                        font-family: "Persona Text";
                        font-size: large;
                    }
                }
            }
        }
    }

}













