/* Specific CSS */
@font-face {
    font-family: "Persona Header";
    src: url("/fonts/persona-5-font/persona-5-menu-font-prototype/Persona5MenuFontPrototype-Regular.ttf");
}
@font-face {
    font-family: "Persona Text";
    src: url("/fonts/persona-5-font/p5hatty.ttf");
}

::selection{
    background-color: red;
    color: black;
}

html{
    background: url("/img/P5/p5r_background.png");
    font-family: "Persona Header";
    text-align: center;
    >body{
        background: inherit;
        color: red;
        >header{
            font-size: xx-large;
        }
        /* All the Headers*/
        header{
            text-shadow: 1px 1px 10px grey;
        }
        /* All the Unordered List (is just 1) */
        ul{
            list-style-type: none;
            >li{
                margin: 25px;
                >a:hover{
                    color: red;
                    /*animation*/
                    animation: p5_Animation .75s linear .1s infinite;
                }
                /* No Underline */
                >a, a abbr:hover{
                    text-decoration: none;
                }
            }
        }
        >main{
            >section{
                font-size: xx-large;
                font-weight:lighter;

                >header{
                    font-family: inherit;
                    font-size: x-large;
                }
                >article{
                    >header{
                        font-family: inherit;
                        font-size:large;
                    }
                    >p{
                        font-family: "Persona Text";
                        font-size: large;
                    }
                }
            }
        }
    }
}

@keyframes p5_Animation {
    from{
        transform: rotate(100px);
        color: blue;
    }
    to{
        transform: rotate(-100px);
        color: green;
    }
}











