/*Cool Selection*/
*::selection{
    background-color: lightgreen;
    color:  black;
}

/* Own Global Variables*/
:root{
            /* Colors Rules */

    /* Background Variables */
    --color-background: rgb(0, 0, 0);
    --color-background-2: rgb(22, 22, 22);
    --color-background-important: rgb(255, 0, 0);
    --color-background-secondary: rgb(128, 128, 128);

    /* Letter Variables */
    --color-letter-important: rgb(255, 255, 255);
    --color-letter-primary: rgb(255, 149, 0);
    --color-letter-secondary: rgb(0, 255, 0);
    --color-letter-info: rgb(0, 0, 255);

    /* Letter Link Variables */
    --color-letter-link-normal: rgb(0, 251, 255);
    --color-letter-link-hovered: rgb(255, 255, 0);
    --color-letter-link-visited: rgb(255, 255, 255);


                    /* Size */

    --letter: 50px;
    /* "Mobile" Version (Aside [AKA The Navigator]) */
    --separator-1: 10px;
    --separator-2: 100px;

    /* Just For:*/
    --border: 5px solid rgb(0, 35, 0);

}

/* Backgound Style "Hacker" */
html{
    /* TIP: Put the Back & Color in the HTML Tag,
    if is in the body, when people zoom out could see the drastic
    change between colors = ugly :c */
    background-color: var(--color-background);
    color: var(--color-letter-secondary);

    >body{
        display: flex;
        flex-direction: column;
        align-items: center;

        /* Change Messages */
        .new:not(li):after{
            margin-left: 4px;
            content: "NEW!";
            color: var(--color-letter-link-hovered);
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        .modified:not(li):after{
            margin-left: 4px;
            content: "MODIFIED!";
            color: var(--color-letter-link-secondary);
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        .experimental:not(li):after{
            margin-left: 4px;
            content: "experimental";
            color: var(--color-background-important);
            text-decoration: underline;
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        .old:not(li):after{
            margin-left: 4px;
            content: "old";
            color: var(--color-letter-link-visited);
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        .deprecated:not(li):after{
            margin-left: 4px;
            content: "deprecated";
            color: var(--color-background-secondary);
            text-decoration: line-through;
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        .hidden:not(li):after{
            margin-left: 4px;
            content: "hidden";
            color: var(--color-letter-primary);
            text-decoration: line-through;
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        .testing:not(li):after{
            margin-left: 4px;
            content: "testing";
            color: var(--color-letter-link-normal);
            border-bottom: 2px solid var(--color-letter-link-visited);
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
    
    }
    ul{
        margin: 30px;
        >li{
            margin: inherit;
            a:visited, a{
                color: blue
            }
            
        }
        li.new>*:after{
            margin-left: 4px;
            content: "NEW!";
            color: var(--color-letter-link-hovered);
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        li.modified>*:after{
            margin-left: 4px;
            content: "MODIFIED!";
            color: var(--color-letter-info);
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        li.experimental>*:after{
            margin-left: 4px;
            content: "experimental";
            color: var(--color-background-important);
            text-decoration: underline;
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        li.old>*:after{
            margin-left: 4px;
            content: "old";
            color: var(--color-letter-link-visited);
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        li.deprecated>*:after{
            margin-left: 4px;
            content: "deprecated";
            color: var(--color-background-secondary);
            text-decoration: line-through;
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        li.hidden>*:after{
            margin-left: 4px;
            content: "hidden";
            color: var(--color-letter-primary);
            text-decoration: line-through;
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
        li.testing>*:after{
            margin-left: 4px;
            content: "testing";
            color: var(--color-letter-link-normal);
            border-bottom: 2px solid var(--color-letter-link-visited);
            font-size: smaller;
            position: relative;
            bottom: 5px;
        }
    }
}

/* Status.Cafe CSS */
#statuscafe {
    padding: .5em;
    background-color: var(--color-letter-info);
    border: 1px solid var(--color-letter-important);
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

/* imood.com CSS*/
#imood{
    display: flex;
    justify-content: space-between;
}

.webring_site{
    border-bottom: 3px solid var(--color-letter-link-hovered);
}