footer{
    >section:not(#stickers){
        display: flex;
        justify-content: center;
        gap: 20px;
        img{
            width: 30px;
        }
    }
    #fecha{
        border-right: 10px;
        float: inline-end;
    }
    #stats-box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .stat{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    
    #stickers>article{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}