*:not(html, body, header, footer){
    /*
    border: 0;
    margin: 0;
    padding: 0;     
    */
    border: 1px solid black;
}
/* section, aside{
    border: 3px solid black;
} */
main{
    min-height: fit-content;
}
/* article{
    resize: horizontal;
    overflow: auto;
} */