body>main>section{
    border: inherit;
    min-width: 59%;
    >header{
        border: inherit;
        text-align: center;
    }
    article{
        border: inherit;
        padding: 20px;
        >header{
            text-indent: 6%;
        }
        ul{
            position: relative;
            left: -60px;
            width: 100%;
        }
        @media (max-width: 701px) {
            ul>li>ol{
                position: relative;
                left: -35px;
                width: 100%;
            }
        }
    }
    details{
        margin-left: 40px;
        summary{
            color: var(--color-background-3);
        }
        p{
            margin-left: 17px;
        }
    }

    .important{
        color: var(--color-letter-important);
        background-color: var(--color-background-4);
        border: 5px solid var(--color-background-3);
        padding: 0 20px;
    }

    pre{
        display: block;
        color: var(--color-letter-3);
        background-color: var(--color-background-4);
        border: 5px solid red;
        padding: 20px;
        overflow: scroll;
    }

    #my_name{
        text-align: end;
        margin: 50px;
    }

    .link-projects{
        display: flex;
        justify-content: space-around;
    }
}