*[title]:not(body>header>h1>a, a[title]){
    cursor: url("/static/data/Wii-Cursor/wii-help-ccw.cur"), crosshair;
}
body>header>h1>a{
        cursor: url("/static/data/Wii-Cursor/wii-loading-ring.ani"), wait;
}
a{
    cursor: url("/static/data/Wii-Cursor/wii-open.cur"), alias;
    &[title]:not(body>header>h1>a){
        cursor: url("/static/data/Wii-Cursor/wii-pointer-blue.cur"), alias;
    }
}
html{
    cursor: url("/static/data/Wii-Cursor/Wii\ Cursor.cur"), pointer;
}