/* Section Rules Nested */
section{
    border: inherit;
    min-width: 60%;
    /* Section Article Rules Nested */
    >article{
        border: inherit;
        >p{
            padding: 0 20px;
        }
        
        /* Article List Rules Nested */
        ul{
            position: relative;
            right: 15px;
            margin: 5px;
            >li{
                a:visited, a{
                    color: blue
                }
            }
            >li#new:after{
                margin-left: 5px;
                content: "NEW!";
                color: var(--color-letter-link-hovered);
                font-size: smaller;
                position: relative;
                bottom: 10px;
            }
            >li#modified:after{
                margin-left: 5px;
                content: "MODIFIED!";
                color: var(--color-letter-info);
                font-size: smaller;
                position: relative;
                bottom: 10px;
            }
            >li#experimental:after{
                margin-left: 5px;
                content: "experimental";
                color: var(--color-background-important);
                text-decoration: underline;
                font-size: smaller;
                position: relative;
                bottom: 10px;
            }
            >li#old:after{
                margin-left: 5px;
                content: "old";
                color: var(--color-letter-link-visited);
                font-size: smaller;
                position: relative;
                bottom: 10px;
            }
            >li#deprecated:after{
                margin-left: 5px;
                content: "deprecated";
                color: var(--color-background-secondary);
                text-decoration: line-through;
                font-size: smaller;
                position: relative;
                bottom: 10px;
            }
        }
        abbr:not(header abbr, abbr a, a abbr){
            background-color: var(--color-letter-info);
            color: var(--color-letter-important);
            text-decoration: underline lightblue;
        }
        abbr:hover:not(header abbr:hover, abbr a:hover, a abbr:hover){
            background-color: var(--color-letter-important);
            color: var(--color-letter-info);
            text-decoration: underline lightpink;
        }
        abbr>a, a>abbr{
            background-color: var(--color-background-important);
            color: var(--color-letter-secondary);
            text-decoration: underline yellow;
        }
        abbr>a:hover, a>abbr:hover{
            color: var(--color-background-important);
            background-color: var(--color-letter-secondary);
            text-decoration: underline blue;
        }
    }
    #to-do{
        box-shadow: 3px 3px 6px yellow;
        border: 4px solid green;
        padding: 10px
    }
}