html{
    background-color: pink;
    background: url("/img/specific/Artists/Enter-Shikari/enter-shikari-background-1.gif") 0 0 repeat;
    background-size: cover;
    color: white;
    overflow-x: hidden;
    >body{
        >main{
            display: flex;
            flex-direction: column-reverse;
            >section{
                background: url("/img/specific/Artists/Enter-Shikari/enter-shikari-background-1.gif") 0 0 repeat;
                background-size: cover;
                #about{
                    background-color: red;
                    margin: 15% 40% 0 5%;
                    padding: 40px;
                    a{
                        color: violet;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                            color: orange
                        }
                    }
                }
                #style{
                    background-color: blue;
                    margin: 5% 5% 10% 65%;
                    padding: 40px;
                    a{
                        color: violet;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                            color: orange
                        }
                    }
                }
            }
            >aside{
                /* position: fixed; */
                padding: 20px;
                width: 100%;
                background-color: black;
                display: inherit;
                flex-direction: row;
                justify-content: space-between;
                >header>a>img{
                    width: 120px;
                }
                >nav{
                    margin-right: 40px;
                    >ul{
                        display: flex;
                        flex-direction: row;
                        list-style-type: none;
                        gap: 50px;
                        li{
                            >a{
                                text-decoration: none;
                                color: pink;
                                &:hover{
                                    text-decoration: underline;
                                    color: orange
                                }
                            }
                        }
                    }
                }
                >article{
                    display: inherit;
                    align-items: center;
                    gap: 15px;
                    margin-right: 50px;
                    >*{
                        color: white;
                        &:hover{
                            color: orange
                        }
                    }
                }
            }
        }
    }
}

hr{
    color: transparent
}

html, body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}


/* @media (max-width: 1000px) { */
@media (max-width: 700px) {
    nav{
        display: none;
    }
}