/* Section Rules Nested */
section{
    border: inherit;
    min-width: 60%;
    /* Section Article Rules Nested */
    >article{
        border: inherit;
        >p{
            padding: 0 20px;
        }
        
        /* Article List Rules Nested */
        
        abbr:not(header abbr, abbr a, a abbr){
            background-color: var(--color-letter-info);
            color: var(--color-letter-important);
            text-decoration: underline lightblue;
        }
        abbr:hover:not(header abbr:hover, abbr a:hover, a abbr:hover){
            background-color: var(--color-letter-important);
            color: var(--color-letter-info);
            text-decoration: underline lightpink;
        }
        abbr>a, a>abbr{
            background-color: var(--color-background-important);
            color: var(--color-letter-secondary);
            text-decoration: underline yellow;
        }
        abbr>a:hover, a>abbr:hover{
            color: var(--color-background-important);
            background-color: var(--color-letter-secondary);
            text-decoration: underline blue;
        }
    }
}